:root {
    --punainen: rgb(255, 89, 87);
    --sininen: rgb(87, 179, 255);
    --keltainen: rgb(255, 224, 87);
    --vihreä: rgb(87, 255, 148);
}

body.pun {
    /*background-color: rgb(255, 89, 87);*/
    background-color: var(--punainen);
 }

body.sin {
    background-color: var(--sininen);
}

body.kel {
    background-color: var(--keltainen);
}

body.vih {
    background-color: var(--vihreä);
}

option.punainen {
    background-color: var(--punainen);
}

option.keltainen {
    background-color: var(--keltainen);
}

option.vihreä {
    background-color: var(--vihreä);
}

option.sininen {
    background-color: var(--sininen);
}

/* ei toimi */
option.punainen:hover {
    background-color: white;
    color: rgb(255, 89, 87);
}

/*468px*/
@media(min-width:800px) {
    .uloinBoksi {

    }
}

.sisempiUloinBoksi {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    width: 65%;
    margin: 0 auto;
}

/* skaalautuva banner-kuva! */
.bannerBoksi {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.banner {
    min-width: 0;
    margin: 5px;
}

img.banneriKuva {
    width: 600px;
    max-width: 100%;
    max-height: 450px;
}
/*--------------------------------*/

#yläpalkki {
    display: flex;
    justify-content: space-between;
    /* background-color: var(--keltainen); */
    max-height: 200px;
    flex-wrap:wrap;
}

.teemavalikko {
    flex: 1;
    border: 1px #ccc solid;
    padding: 10px;

}

.kirjautumisalue {
    flex: 3;
    display: flex;
    border: 1px #ccc solid;
    padding: 10px;
    align-items: flex-end;
    flex-wrap:wrap;

}

kirjautumisalue2 {
    flex: 4;
    display: inline-flex;
    border: 1px #ccc solid;
    flex-direction: row;
    max-height: 20px;
    background-color: chartreuse;
}

.kirjautumisalue3 {
    border: 1px #ccc solid;
    padding: 10px;
}

.kirjautumisalue4 {
    flex: 1;
}

.junatietoRuutu {
    display: flex;
    flex-direction: column;
    /*text-align: center;*/
    justify-content: center;
    padding: 10px;

}

.junahakuAlue {
    /*width: 50%;*/
    margin: 0 auto;
}

.junahakuAlue table {

}

.junaBoksi {
    display: flex;
    background-color: bisque;
    padding: 10px;
}

#karttaboksi {
    display: flex;
    flex-direction: column;
    /* background-color: coral; */
    padding: 10px;
    height: 500px;
}

#map {
    flex: 90%;
    height: 100%;
    padding-bottom: 10px;
}

.kartanHakuKenttä {
    padding-top: 10px;
}


/* Tietotaulukko ------> */
#haetuttiedot tr:nth-child(even).pun, #taulukonOtsikkorivi.pun, #yläpalkki.pun, #karttaboksi.pun {
    background-color: var(--punainen);
}

#haetuttiedot tr:nth-child(even).sin, #taulukonOtsikkorivi.sin, #yläpalkki.sin, #karttaboksi.sin {
    background-color: var(--sininen);
}

#haetuttiedot tr:nth-child(even).kel, #taulukonOtsikkorivi.kel, #yläpalkki.kel, #karttaboksi.kel {
    background-color: var(--keltainen);
}

#haetuttiedot tr:nth-child(even).vih, #taulukonOtsikkorivi.vih, #yläpalkki.vih, #karttaboksi.vih {
    background-color: var(--vihreä);
}

/* Tietotaulukko <-----*/

.kuvanpaikka {
    padding: 10px;
}

.junaKuvat {
    display: flex;
    /*justify-content: space-between;*/
    flex-basis: 20%;
    flex-wrap:wrap;
    justify-content: center;
}

.junakuva {
    padding: 10px;
}

#username2, #password2 {
    max-height: 10px;
    min-width: 30px;
}

#signon {
    display: inline-flex;
    flex-basis: 30%;
}