body.pun {
    background-color: rgb(255, 89, 87);
}

body.sin {
    background-color: rgb(87, 179, 255);
}

body.kel {
    background-color: rgb(255, 224, 87);
}

body.vih {
    background-color: rgb(87, 255, 148);
}